<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
   
   
   <!-- NEW -->
   


    <title>System Admin</title>

</head>
<body>
    <nav style="height: 120px;" class="navbar text-white navbar-dark bg-dark justify-content-between">
        <a href="/register/register_back" class="navbar-brand text-white"><i class="fa-solid fa-angles-left"></i> BACK</a>
        
        <h2><i class="fa-solid fa-server"></i>  System Administration</h2>
        <h4>Admin <i class="fa-solid fa-unlock-keyhole"></i></h4>
       
    </nav>

    <div>
      <h1 class="text-center" style="font-weight: 3vh; margin-top: 40px;">Special thanks to the only person Bilal who taught me and have made me a student</h1>

      <div style="display: flex; align-items: center; justify-content: space-around; margin-top: 40px; ">
          <div>
            <ol>
                <li>User Authorizations</li>
                <li>Database Design </li>
                <li>Overall library access</li>
                <li>Overall source code access</li>
                <li>User Interface modules</li>
            </ol>
          </div>
          <img style="border-radius: 50%; width: 300px; height: 300px;" src="https://scontent.flhe5-1.fna.fbcdn.net/v/t39.30808-6/342191035_931954497951544_8309537903427620061_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=r2_dauStuasAX-YkJ1F&_nc_ht=scontent.flhe5-1.fna&oh=00_AfCnVI-ZTbybFHOZXjCCT5N0iPWXHSTe9fthgPyZTVk_Aw&oe=65E10199" alt="">
      </div>
    </div>


    <form style="width: 500px; margin-left: 500px;">
        <div class="form-group">
          <p class="text-center">Access Now <i class="fa-solid fa-lock"></i></p>
          <label for="exampleInputEmail1">Session_Cypher Key <i class="fa-solid fa-fingerprint"></i></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your secret key">
          <small id="emailHelp" class="form-text text-muted">#1412_12_*&&1!||||</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" style="width: 500px;" class="btn btn-success">Submit</button>
      </form>

</body>
</html>